<h1>Paint Store</h1>
<p>Below is a full index of paints and painting supplies.</p>
<%= link_to 'Click here to see available paints', paints_path %>
<%= link_to 'Click here to see available painting supplies', parts_path %>
